*

!main
!main/*
!main/apps
!main/apps/**
!main/mylib
!main/mylib/**
!main/system
!main/system/**
!components
!components/**
!rsc
!rsc/**
!storage
!storage/**
!.devcontainer
!.devcontainer/**
!.vscode
!.vscode/**
!/.gitignore
!/CMakeLists.txt
!/LICENSE
!/partitions.csv
!/README.md
!/sdkconfig
!/sdkconfig.ci